@keyframes slideOut {
    from {
      background-position: 100%;
    }
  
    to {
      background-position: 0%;
    }
  }

.blue-gradient{
    display: inline-block;
    margin-bottom: -10px;
    padding-bottom: 10px;
    background: linear-gradient(90deg,#3B82F6 30%,#1D4ED8 50%,#D4D4D8 50% 100%) no-repeat;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: 100%;
    background-size: 200%;
    color: transparent;
    will-change: transform;
    -webkit-animation: slideOut 1.5s cubic-bezier(0.85,0,0.15,1) forwards;
    animation: slideOut 1.5s cubic-bezier(0.85,0,0.15,1) forwards;
}
